body {
  --color1: #e69600;
  --color2: #ffdcbf;
  --color3: #f3bf5d;
  --color4: rgb(85, 85, 85);
  --color5: #f3f8f2; /* very light green shade */
}



@media (max-width: 1200px) {
  nav {
    display: flex;
    width: 100%;
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0;
    transition: background-color 0.4s ease-in-out;
  }

  .nav-links {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color1);
    transition: top 1s ease;
    display: none;
    color: var(--color2);
  }
  .nav-links .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .open-menu {
    display: block;
    position: absolute;
    right: 10px;
  }
  .logo {
    display: block;
    position: absolute;
    left: 20px;
  }
  .nav-links li a {
    color: var(--color2);
  }

  .nav-links li a:hover {
    color: var(--color2);
  }

  .nav-links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--color2);
    transition: 0.2s ease-in;
  }

  .nav-links a:hover::before {
    width: 100%;
  }

  #profile {
    display: block;
  }

  #profile,
  #skills,
  #about,
  #projects,
  #contact {
    height: fit-content;
  }


  #skills .header,
  #about .header,
  #projects .header ,
  #contact .header {
    font-size: 2em;
  }

  .portrait-container {
    height: 300px;
    width: 300px;
    margin: 0 auto 2rem;
    display: flex;
    justify-content: center;
  }

  #profile {
    text-align: center;
    margin-bottom: 0rem;
    padding-top: 8vh;
    padding-bottom: 6vh;
  }

  .text-container {
    margin: auto;
  }

  .skill-sets-container,
  .skills-section-container {
    display: block;
  }
  .skill-sets-container {
    margin: 0;
  }

  .personal-skill-set {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .personal-skill-set h3 {
    text-align: center;
  }

  .personal-skill-set-container {
    display: flex;
    justify-content: center;
  }

  .technologies-skill-set h3 {
    text-align: center;
  }
  .technologies-skill-set-container {
    padding: 0;
    margin: 2rem;
    gap: 0;
    text-align: center;
  }
  .technologies-skill-set-container .column {
    margin: auto;
  }

  #about .header {
    margin-top: 5rem;
  }

  .about-details-container {
    margin: 0;
    width: 100%;
  }

  .exp-edu-containers {
    display: block;
    text-align: center;
  }

  .exp-edu-container {
    width: 350px;
    margin: auto;
  }
  .exp-edu-container:first-of-type {
    margin-bottom: 2rem;
  }
  .about-details-container .text-container {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: left;
  }

  #projects .header{
    font-size: 2em;
  }

  .project-widget-container {
    display: flex;
    padding: 0;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .project-widget {
    display: block;
    width: 100%;
  }
  .project-media-title h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .links-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .details-link-container a,
  .code-link-container a {
    font-size: 0.85em;
  }

  #contact {
    margin-top: 10vh;
    display: block;
    height: fit-content;
  }

  .contact-info-container {
    padding: 2rem 1rem;
  }

  .contact-container .header {
    font-size: 2em;
    margin-bottom: 1rem;
  }
  .contact-container .header2 {
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: center;
  }

  .copyright {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 385px){    /* small mobile phones */

  .exp-edu-container{
    width: 90%;
  }
  .project-media-title .widget-img-container img{
    height: 200px;
    width: 200px;
  }

  .links-container{
    display: block;
  }

  .code-link-container{
    margin-bottom: 2rem;
    justify-content: center;
  }

  .details-link-container{
    justify-content: center;
  }

  #contact .contact-container .header{
    font-size: 1.5em;
  }
  #contact .contact-container .header2{
    font-size: 1em;
  }

  .contact-info-container{
    width: 90%;
  }
  .contact-info-container h3{
    font-size: 0.95em;
  }
  .copyright p {
    font-size: 0.7em;
  }
}
