/* APPLY TO ALL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  --color1: #e69600;
  --color2: #ffdcbf;
  --color3: #f3bf5d;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
  font-weight: 500;
}

/* Effects */

a,
.btn {
  transition: all 300ms ease;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color2);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f3bf5d;
}

/* Nav bar */

nav {
  justify-content: space-around;
  align-items: center;
  height: 10.5vh;
  display: flex;
  position: sticky;
  top: 0;
  transition: background-color 0.4s ease-in-out;
}

/* Scrolling Effect */

.scrolled {
  background-color: var(--color3);
  opacity: 1;
  filter: drop-shadow(-13px 1px 10px #F19F3B);
}

.scrolled .nav-links a {
  color: white;
}

.scrolled .nav-links a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 0.2s ease-in;
}

.scrolled .nav-links a:hover::before {
  width: 100%;
}

.scrolled .nav-links a:hover {
  color: white;
}

/* Links */

.nav-links {
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
  display: flex;
  transition: color 0.4s ease-in-out;
}

.nav-links a {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--color1);
}

.nav-links a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--color1);
  transition: 0.2s ease-in;
}

.nav-links a:hover::before {
  width: 100%;
}

/* LOGO */

.logo {
  font-size: 1.8rem;
  font-family: "Pacifico", cursive;
}

.logo a {
  text-decoration: none;
  color: black;
}

.logo:hover {
  cursor: default;
}

/* MENU TOGGLE */

.open-menu {
  font-size: 2rem;
  margin: 20px;
  cursor: pointer;
  display: none;
}

.close-menu {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 850px) {
  .nav-links {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color1);
    transition: top 1s ease;
    display: none;
    color: var(--color2);
  }
  .nav-links .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .open-menu {
    display: block;
  }
  .nav-links li a {
    color: var(--color2);
  }

  .nav-links li a:hover {
    color: var(--color2);
  }

  .nav-links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--color2);
    transition: 0.2s ease-in;
  }

  .nav-links a:hover::before {
    width: 100%;
  }
}

/* SECTIONS */

section {
  padding-top: 6vh;
  height: 94vh;
  margin: 0;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}


/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.portrait-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.portrait-container img {
  border-radius: 100px;
  /* filter: drop-shadow(-13px 1px 16px #F19F3B); */
}

.text-container {
  align-self: center;
  text-align: center;
  display: inline-block;
}

.normal-text {
  text-align: center;
}

.header2 {
  display: inline-block;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  border-right: 4px solid;
  width: 69%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(16), cursor 0.4s step-end infinite alternate;
}

.header {
  font-size: 3rem;
  text-align: center;
}

/* cursor blinking */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

/* typing effect */
@keyframes typing {
  from {
    width: 0;
  }
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ABOUT ME SECTION */

#about {
  justify-content: center;
  align-items: center;
}

#about .header{
  margin-bottom: 2rem;
  margin-top: 8.5vh;
}

/* .about-picture-container {
  display: flex;
  height: 400px;
}

.about-picture-container img {
  border-radius: 80px;
} */

.about-details-container {
  justify-content: center;
  width: 75%;
  margin: auto;
}

.exp-edu-containers {
  display: flex;
  gap: 2rem;
  margin: 2rem;
  text-align: center;
}

.exp-edu-container {
  padding: 1.2rem;
  flex: 1;
  background-color: white;
  border-radius: 3rem;
  border: var(--color1) 0.1rem solid;
}

.about-details-container .text-container {
  margin-left: 2rem;
  text-align: left;
}

/* SKILLS SECTION */

#skills .header{
  margin-bottom: 1.5rem;
  margin-top: 3vh;
}

/* ICONS */

.icon {
  height: 2rem;
}

.social-icons {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
}

#download-icon {
  height: 1.7rem;
}

.btn-contact,
.btn-cv {
  border: var(--color1) 0.1rem solid;
}

.btn-contact:hover,
.btn-cv:hover {
  cursor: pointer;
  border: var(--color1) 0.1rem solid;
}

.btn-contact {
  background: var(--color1);
  color: white;
}
.btn-cv:hover {
  background: var(--color2);
  color: black;
}

.btn-contact:hover {
  background: var(--color2);
  color: black;
}

.btn-cv {
  background: none;
}

.btn-container {
  gap: 1rem;
}
