/* APPLY TO ALL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  --color1: #e69600;
  --color2: #ffdcbf;
  --color3: #f3bf5d;
  --color4: rgb(85, 85, 85);
  --color5: #f3f8f2; /* very light green shade */
  --color6: #f19f3b;
}

html {
  scroll-behavior: smooth;
}

p {
  color: black;
  font-weight: 500;
}

/* Effects */

a,
.btn {
  transition: all 300ms ease;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color2);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color3);
}

/* Nav bar */

nav {
  justify-content: space-around;
  align-items: center;
  height: 10.5vh;
  display: flex;
  position: sticky;
  z-index: 100;
  top: 0;
  transition: background-color 0.4s ease-in-out;
}

/* Scrolling nav bar Effect - index page*/

.scrolled {
  background-color: var(--color3);
  opacity: 1;
  filter: drop-shadow(-13px 1px 10px #f19f3b);
}

.scrolled .nav-links a {
  color: white;
}

.scrolled .nav-links a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 0.2s ease-in;
}

.scrolled .nav-links a:hover::before {
  width: 100%;
}

.scrolled .nav-links a:hover {
  color: white;
}

/* Links */

.nav-links {
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
  display: flex;
  transition: color 0.4s ease-in-out;
}

.nav-links a {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--color1);
}

.nav-links a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--color1);
  transition: 0.2s ease-in;
}

.nav-links a:hover::before {
  width: 100%;
}

/* LOGO */

.logo {
  font-size: 1.8rem;
  font-family: "Pacifico", cursive;
}

.logo a {
  text-decoration: none;
  color: black;
}

.logo:hover {
  cursor: default;
}

/* MENU TOGGLE */

.open-menu {
  font-size: 2rem;
  margin: 20px;
  cursor: pointer;
  display: none;
}

.close-menu {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* SECTIONS */

section {
  padding-top: 6vh;
  height: 94vh;
  margin: 0;
  box-sizing: border-box;
  min-height: fit-content;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.portrait-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.portrait-container img {
  border-radius: 100px;
  filter: drop-shadow(-13px 1px 16px #f19f3b);
}

.text-container {
  align-self: center;
  text-align: center;
  display: inline-block;
}

.text-container .normal-text {
  text-align: center;
  display: inline-block;
  font-size: 1.5rem;
  width: 69%;
}

#wave {
  height: 20px;
  width: 20px;
}

#profile .text-container .header2 {
  color: var(--color4);
  display: inline-block;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  border-right: 4px solid;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(16), cursor 0.4s step-end infinite alternate;
}

.header {
  font-size: 2.7rem;
  text-align: center;
}

/* cursor blinking */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

/* typing effect */
@keyframes typing {
  from {
    width: 0;
  }
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ABOUT ME SECTION */

#about {
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#about .header {
  margin-bottom: 2rem;
  margin-top: 8.5vh;
}

/* .about-picture-container {
  display: flex;
  height: 400px;
}

.about-picture-container img {
  border-radius: 80px;
} */

.about-details-container {
  justify-content: center;
  width: 60%;
  margin: auto;
}

.exp-edu-containers {
  display: flex;
  gap: 2rem;
  margin: 2rem;
  text-align: center;
}

.exp-edu-container {
  width: 50%;
  padding: 1.2rem;
  flex: 1;
  background-color: white;
  border-radius: 3rem;
  /* border: var(--color1) 0.1rem solid; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 1, 0.2) 0px -3px 0px inset;
}

.about-details-container .text-container {
  margin-left: 2rem;
  text-align: left;
}

/* SKILLS SECTION */

#skills .header {
  margin-bottom: 1.5rem;
  margin-top: 8vh;
}

.skill-sets-container {
  width: 100%;
  display: flex;
  margin: 1rem 8rem;
  gap: 12rem;
  justify-content: center;
}

.personal-skill-set .header2,
.technologies-skill-set .header2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--color4);
}

.technologies-skill-set .header2 {
  text-align: center;
}

.skills-section-container {
  display: flex;
}

.personal-skill-set article {
  display: flex;
  gap: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.technologies-skill-set-container {
  padding: 0 3rem;
  display: flex;
  gap: 5rem;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.column {
  float: left;
  width: 33.33%;
  justify-content: center;
  align-items: center;
}
.column p {
  margin-bottom: 1rem;
}

#php-img {
  height: 35px;
  width: 35px;
}

/* Projects section */

#projects {
  height: fit-content;
}

#projects .header {
  margin-top: 8vh;
}

.project-widget-container {
  margin-left: 12rem;
  margin-right: 12rem;
  margin-top: 5vh;
  margin-bottom: 3rem;
  /* padding-bottom: 4rem; */
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.project-widget {
  justify-content: center;
  align-items: center;
  display: flex;
  position: static;
  padding: 2rem;
  gap: 3rem;
  width: 90%;
  /* border: var(--color1) 0.09rem solid; */
  border-radius: 2rem;
  background-color: var(--color5);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  /* Simple shadow */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.widget-img-container {
  display: flex;
  justify-content: center;
}

.project-media-title .widget-img-container img {
  border-radius: 0.2rem;
  height: 300px;
  width: 300px;
  align-items: center;
  color: #f3bf5d;
  color: #ffdcbf;
  /* orange shading effect for box shadow */
  /* box-shadow: #ebab33 -5px 5px, #eeb64d -10px 10px, #f3cb80 -15px 15px, #f8e0b3 -20px 20px, #fdf5e6 -25px 25px;  */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.project-media-title h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.links-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.links-container a {
  text-decoration: none;
  color: black;
}

.link-container img {
  height: 15px;
  width: 15px;
}

.details-link-container,
.code-link-container {
  display: flex;
}

.details-link {
  font-weight: 600;
  animation: wave-text 1.7s ease-in-out infinite; /* animated link text */
}

.details-link img,
.code-link img {
  height: 15px;
  width: 15px;
}

.code-link {
  font-weight: 600;
}
.code-link:hover {
  color: var(--color1);
  transition: none;
}

.details-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: var(--color1);
  transition: 0.3s ease-in;
}

.details-link:hover {
  animation: wave-text 0s ease-in-out infinite;
  color: var(--color1);
  transition: none;
}

.details-link:hover::before {
  width: 0;
}

.underline {
  display: inline-block;
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: var(--color1);
  transition: 0.3s ease-in;
}

.underline:hover::after {
  width: 0;
}

/* animated link text */

@keyframes wave-text {
  00% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.6em);
  }
  100% {
    transform: translateY(0em);
  }
}

/* contact section */

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  flex-direction: column;
}

.contact-container h1 {
  margin-top: 1rem;
}
.contact-container .header2 {
  color: var(--color4);
  font-weight: 500;
}

.contact-info-container {
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 2rem;
  border: #e69600 0.1rem solid;
}

.contact-info-container h3 {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}
.contact-info-container a {
  color: black;
  text-decoration: none;
}

.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--color1);
  transition: 0.3s ease-in;
}

.underline-animation:hover::after {
  width: 100%;
}

.email-container,
.linkedin-container,
.phone-container {
  gap: 1rem;
  display: flex;
}

.email-container,
.linkedin-container {
  margin-bottom: 2rem;
}

/* COPYRIGHT */

.copyright {
  text-align: center;
  margin-top: 4rem;
}

.copyright p {
  font-weight: 300;
  color: var(--color4);
}

/* ICONS */

.icon {
  height: 2rem;
}

.social-icons {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
}

#download-icon {
  height: 1.7rem;
}

.btn-contact,
.btn-cv {
  border: var(--color1) 0.1rem solid;
}

.btn-contact:hover,
.btn-cv:hover {
  cursor: pointer;
  background: var(--color3);
  color: black;
}

.btn-contact {
  background: var(--color1);
  color: white;
}

.btn-cv {
  background: none;
}

.btn-container {
  gap: 1rem;
}

/* 

------------------------------------------------- DETAILS PAGES STYLING -------------------------------------------------

*/

.details-page-header {
  justify-content: space-around;
  align-items: center;
  height: 11vh;
  display: flex;
  position: sticky;
  z-index: 100;
  top: 0;
  transition: none;
  background-color: white;
}

.details-page-header a {
  text-decoration: none;
  color: black;
  font-size: 1.4em;
}

.return-link .icon {
  height: 1.5rem;
}

.external-links {
  display: flex;
  gap: 2rem;
}

.external-links .icon {
  height: 1.2rem;
}

.details-section {
  margin: 0;
  padding: 0;
  display: flex;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
}

.article {
  padding-top: 70px;
  /* padding-bottom: 10vh; */
  width: 40%;
}

.section {
  margin-bottom: 2rem;
}

.mini-section {
  /* margin-bottom: 1rem; */
}

.message {
  padding: 1em 1em 1em 1.5em;
  border-left-width: 6px;
  border-left-style: solid;
  border-radius: 3px;
  position: relative;
  line-height: 1.5;
  margin-bottom: 1rem;
  

  &:before {
    color: white;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 1em;
    left: -3px;
    border-radius: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }
}

.message-warning {
  border-left-color: var(--color1);
  background-color: #fff0d7;

  &:before {
    background-color: var(--color1);
  }
}

.message-title{
  display: flex;
  gap: 0.5rem;
}
.message-title h3{
  color: var(--color1);
}
.message-title{
  margin-bottom: 1rem;
}

.article .message-title img{
  height: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.article .message ul{
  margin-left: 45px;
  padding-left: 0px;
}
.article .message ul li{
  /* list-style-type: "🟠"; */
  list-style-image: url(assets/bullet.png);
  padding-inline-start: 1ch;
  font-weight: 500;
  margin-bottom: 12px; /* for spacing */
}



.p2{
  margin-top: 12px; /* for spacing */
}

.h {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 2rem;
  /* color: var(--color1); */
}

.h2 {
  margin-bottom: 0.6rem;
  font-size: x-large;
}

.h3 {
  color: var(--color4);
  margin-left: 2rem;
  margin-bottom: 0.6rem;
  font-size: large;
  text-decoration: underline;
}

.section ul {
  padding-left: 3rem;
}

.section ul li {
  list-style-type: "🔸";
  padding-inline-start: 1ch;
  font-weight: 500;
  margin-bottom: 12px; /* for spacing */
}




.section .last-li {
  margin-bottom: 0;
}

.section img {
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.danke{
  text-align: center;
  font-size: 1.2em;
}


/* Hamburger menu for mobile navigation */







/* Scrolling nav bar Effect - details page*/

.details-page-header-scrolled {
  background-color: var(--color3);
  opacity: 1;
  filter: drop-shadow(-13px 1px 10px #f19f3b);
}

.details-page-header-scrolled .nav-links a {
  color: white;
}

.details-page-header-scrolled .nav-links a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 0.2s ease-in;
}

.details-page-header-scrolled .nav-links a:hover::before {
  width: 100%;
}

.details-page-header-scrolled .nav-links a:hover {
  color: white;
}
