/* APPLY TO ALL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  --color1: #e69600;
  --color2: #ffdcbf;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* Effects */

a,
.btn {
  transition: all 300ms ease;
}

/* Nav bar */

nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  display: flex;
  margin: auto;
}

/* Links */

.nav-links {
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
  display: flex;
}

.nav-links a {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
  /* text-decoration-color: white; */
}

.nav-links a:hover {
  color: var(--color1);
}

.nav-links a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--color1);
  transition: 0.2s ease-in;
}

.nav-links a:hover::before {
  width: 100%;
}

/* LOGO */

.logo {
  font-size: 1.8rem;
  font-family: "Pacifico", cursive;
}

.logo:hover {
  cursor: default;
}

/* MENU TOGGLE */

.open-menu {
  font-size: 2rem;
  margin: 20px;
  cursor: pointer;
  display: none;
}

.close-menu {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 850px) {
  .nav-links {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color1);
    transition: top 1s ease;
    display: none;
    color: var(--color2);
  }
  .nav-links .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    
  }
  .open-menu {
    display: block;
  }
  .nav-links li a {
    color: var(--color2);
  }

  .nav-links li a:hover {
    color: var(--color2);
  }

  .nav-links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--color2);
    transition: 0.2s ease-in;
  }
  
  .nav-links a:hover::before {
    width: 100%;
  }
}
